<div class="container mt-5" *ngIf="!isLogged()">
  <div class="text-center" *ngIf="!registerMode">
      <h1>Home component</h1>
      <div class="text-center">
          <button class="btn btn-primary btn-lg mr-1" (click)='registerToggle()'>Register</button>
          <button class="btn btn-primary btn-lg mr-1">Learn more</button>
      </div>

      {{registerMode}}
  </div>

  <div class="text-center" *ngIf="registerMode">
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>


