<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="['/members']">Matches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="['/lists']">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="['/messages']">Messages</a>
    </li>
    <li class="nav-item" *ngIf="isLogged()">
      <a class="nav-link" (click)="logOut()">Logout</a>
    </li>
  </ul>



  <div class="dropdown" *ngIf="isLogged()">
    
    <a class="dropdown-toggle text-light">
      Welcome {{user()|titlecase}}
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
    </div>
  
  </div>
  <div *ngIf="!isLogged()">
    <app-login></app-login>
  </div>
</nav>
<!--pre>
  
{{username.untouched}} $untouched The field has not been touched yet
{{username.touched}} $touched The field has been touched
{{username.pristine}} $pristine The field has not been modified yet
{{username.dirty}} $dirty The field has been modified
{{username.invalid}} $invalid The field content is not valid
{{username.valid}} $valid The field content is valid
Thuey are all properties of the input field, and are either true or false.

Forms have the following states:

{{loginForm.pristine}} $pristine No fields have been modified yet
{{loginForm.dirty}} $dirty One or more have been modified
{{loginForm.invalid}} $invalid The form content is not valid
{{loginForm.valid}} $valid The form content is valid
{{loginForm.submitted}}  $submitted The form is submitted


values: {{loginForm.value | json}}
</pre-->
